<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <marquee><h1>Recipe Library</h1></marquee>
    <header class="header">
        <% if is_logged_in? %>
            Welcome!
            <form action="/sessions" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Logout"/>
            </form>
        <% else %>
            <a href="/user">Sign-Up</a>
            <a href="/login">Login</a>
        <% end %>
    </header>
</head>
<body>
    <main>
        <%= yield %>
    </main>
</body>
  

