* {
  margin-top: 10px;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  background-color: rgb(245, 235, 223);
}

.main_title {
  color: transparent!important;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #3b3023;
  font-size: 60px;
  text-align: center;
}

.display_each_recipe, .edit, .header, .create {
  margin: 10px 30px;
}

.all-recipes, .all_breakfasts, .all_am_snacks, .all_lunches, .all_pm_snacks, .all_dinners {
  margin-left: 80px;
  margin-right: 80px;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 30px;
  text-align: right;
}

.create_list ul, .create_list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;
}

.nav_text {
  background-color: #3b3023cc; 
  color: white;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  padding: 0 6px 0 6px;
}


/* login and signup page */
.forms_title {
  color: #3b3023;
  margin: 10px 30px;
}

.forms_homepg ul, .forms {
  display: flex;
}

.forms_homepg ul {
  text-align: left;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 30px;
}

.forms {
  text-align: right;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 30px;
}


/* index and each category page formatting */
.meal-item, .breakfast-item, .am_snack-item, .lunch-item, .pm_snack-item, .dinner-item {
  position: relative;
  /* width: 100%; */
}

.meal-item img, .breakfast-item img, .am_snack-item img, .lunch-item img, .pm_snack-item img, .dinner-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.name, .breakfast_name, .am_snack_name, .lunch_name, .pm_snack_name, .dinner_name {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meal-item:hover img, .breakfast-item:hover img, .am_snack-item:hover img, .lunch-item:hover img, .pm_snack-item:hover img, .dinner-item:hover img {
  opacity: 0.23;
}

.meal-item:hover .name, .breakfast-item:hover .name, .am_snack-item:hover .name, .lunch-item:hover .name, .pm_snack-item:hover .name, .dinner-item:hover .name {
  opacity: 1;
}

.text, .breakfast_text, .am_text, .lunch_text, .pm_text, .dinner_text {
  background-color: #464946;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.all-recipes, .all_breakfasts, .all_am_snacks, .all_lunches, .all_pm_snacks, .all_dinners {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
}



/* each_recipe */
.each_recipe {
  max-width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3% 3% 3% auto;
  margin: auto;
  gap: 20px;
}

.ing_rec::before {
  content: '\A\A';
  white-space: pre;
}

.ing_rec {
  font-weight: 20x;
  font-size: 13px;
  opacity: 10;
  color: rgb(63, 63, 63);
}

.top_nav ul, .logins {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px 30px;
}

.top_nav li, .logins.nav_text {
  width: 100%;
  text-align: right;
  flex-basis: 0;
  text-decoration: none;
  list-style-type: none;
  color: rgb(255, 255, 255);
  display: inline-block;
}

.each_title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #3b3023;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.details {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: left;
  gap: 20px;
  padding-top: 10px;
}

.details {
  color: #4d4d4d;
  font-size: 13px;
}

.recipe_content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
}

.each_img img {
  float: right;
  margin-right: 20px;
  max-width: 500px;
}

.content {
  float: left;
  white-space: pre-wrap;
  max-width: 500px;
}


/* create and edit page */
.create_page {
  margin: 10px 30px;
}

.ingredients::before, .recipe::before, .image_url::before {
  content: '\A';
  white-space: pre;
}

.nav_text2 {
  background-color: #3b3023cc; 
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 0 6px 0 6px;
  margin-top: 12px;
}

.category, .calories, .meal-item2, .image-url, .ingredients, .recipe {
  display: grid;
  grid-template-columns: 25% 25% 25% 25% 25%;
  text-align: center;
}

.ingredients, .recipe {
  margin-right: 600px;
}

.button {
  float: right;
}

.recipe label, .ingredients label {
  margin-right: 1500px;
}