* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.display_each_recipe, .edit, .header, .create, .all-recipes {
  margin: 10px 30px;
}

/* index */
.meal-item {
  position: relative;
  width: 100%;
}

.meal-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.name {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meal-item:hover img {
  opacity: 0.23;
}

.meal-item:hover .name {
  opacity: 1;
}

.text {
  background-color: #464946;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.all-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
}



/* each_recipe */
.each_title {
  color: black;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 5px 30px;
}

.calories {
  color: #4d4d4d;
  font-size: 10px;
}

/* .recipe_grid {
  display: grid;
  grid-template-columns: fit-content(200px) 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 20px;
  margin-bottom: 4em;
} */

/* .each_img::after {
  content: "";
  display: table;
  clear: both;
} */

.each_img {
  float: left;
  margin-right: 20px;
  max-width: 200px;
}

.content { 
  float: right;
  white-space: pre-wrap;
}
    
.footer { 
  grid-area: footer; 
}

.recipe_text {
  float: right;
  white-space: pre-wrap;
}

.ingredients_array {
  float: right;
  white-space: pre-wrap;
}

/* each_recipe footer */

.popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup-container {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.is-visible .popup-container {
  transform: translateY(0);
}


