* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.display_each_recipe, .edit, .header, .create, .all-recipes {
  margin: 10px 30px;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 30px;
  text-align: right;
}

.create_list ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;
}

/* index and each category page formatting */
.meal-item, .breakfast-item, .am_snack-item, .lunch-item, .pm_snack-item, .dinner-item {
  position: relative;
  width: 100%;
}

.meal-item img, .breakfast-item img, .am_snack-item img, .lunch-item img, .pm_snack-item img, .dinner-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.name, .breakfast_name, .am_snack_name, .lunch_name, .pm_snack_name, .dinner_name {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meal-item:hover img, .breakfast-item:hover img, .am_snack-item:hover img, .lunch-item:hover img, .pm_snack-item:hover img, .dinner-item:hover img {
  opacity: 0.23;
}

.meal-item:hover .name, .breakfast-item:hover .name, .am_snack-item:hover .name, .lunch-item:hover .name, .pm_snack-item:hover .name, .dinner-item:hover .name {
  opacity: 1;
}

.text, .breakfast_text, .am_text, .lunch_text, .pm_text, .dinner_text {
  background-color: #464946;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.all-recipes, .all_breakfasts, .all_am_snacks, .all_lunches, .all_pm_snacks, .all_dinners {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
}



/* each_recipe */
.each_recipe {
  max-width: 95%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3% 3% 3% auto;
  margin: auto;
  gap: 20px;
}

.top_nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 10px 30px;
}

.top_nav li{
  width: 100%;
  text-align: right;
  flex-basis: 0;
  text-decoration: none;
  list-style-type: none;
  color: rgb(78, 76, 76);
}

.top-nav a {
  color: rgb(78, 76, 76);
  font-size: 15px; 
  font-weight: 300;
}

a {
  text-decoration: none;
}

.each_title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  color: black;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.details {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: left;
  gap: 20px;
  padding-top: 10px;
}

.details {
  color: #4d4d4d;
  font-size: 13px;
}

.recipe_content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.each_img img {
  float: right;
  margin-right: 20px;
  max-width: 500px;
}

.content {
  float: left;
  white-space: pre-wrap;
  max-width: 500px;
}


/* each_recipe footer */
.popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup-message {
  transform: translateY(-40px);
  transition-property: transform;
  transition-duration: 0.3s;
}

.is-visible .popup-container {
  transform: translateY(0);
}



/* create page */
