<h1>Sign Up</h1>

<form action="/user" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <label for="email">
      Email:
    </label>
    <input type="text" name="email" />

    <label for="password">
      Password:
    </label>
    <input type="password" name="password" />

    <input type="submit" value="Sign-Up" />
</form>