<h1 class="forms_title">Sign Up</h1>

<div class="forms_homepg">
  <ul>
    <li><a href="/" class="nav_text">Homepage</a></li>
  </ul>
</div>

<form action="/user" method="POST">
  <input type="hidden" name="_method" value="PUT">
    <label for="email">
      Email:
    </label>
    <input type="text" name="email" />

    <label for="password">
      Password:
    </label>
    <input type="password" name="password" />

    <input type="submit" value="Sign-Up" />
</form>
