<header class="create">
    <nav class="create_list">
        <% if is_logged_in? %>
            <ul>
                <li><a href="/" class="nav_text">Homepage</a></li>
                <li><a href="/recipe/create" class="nav_text">Add Recipe</a></li>
            </ul>
            <div class="logins">
                <form action="/sessions" method="POST">
                   <input type="hidden" name="_method" value="DELETE">
                   <input type="submit" class="nav_text" value="Logout"/>
                </form>
             </div>
        <% else %>
            <ul>
                <li><a href="/" class="nav_text">Homepage</a></li>
            </ul>
            <div class="logins">
                <a href="/user" class="nav_text">Sign-Up</a>
                <a href="/login" class="nav_text">Login</a>
            </div>
        <% end %>
    </nav>
</header>

<section class = "all_breakfasts"> 
    <% breakfasts.each do |breakfast| %>
    <section class = "breakfast-item">
        <section class = "breakfast_name">
            <h3 class="breakfast_text"><%= breakfast["meal_item"]%></h3>
        </section>
        <a href="/recipe/<%= breakfast["id"] %>"><img src="<%= breakfast['image_url']%>" alt=""></a>
    </section>
    <% end %>
</section>

