<% action = "/recipe/create" %>

<form action="<%= action %>" method="POST">
    
  <label for="meal_item">
    Meal Item:
  </label>
  <input name="meal_item" value="<%= recipes["name"]%>" required>

  <section class="category">
    <label for="category">Category:</label>
    <select name="category" id="category_select" required>
      <option value="">--Please choose a category--</option>
      <option value="Breakfast">Breakfast</option>
      <option value="AM Snack">AM Snack</option>
      <option value="Lunch">Lunch</option>
      <option value="PM Snack">PM Snack</option>
      <option value="Dinner">Dinner</option>
    </select>
  </section>  

  <label for="calories">
    Calorie Count:
  </label>
  <input name="calories" value="<%= recipes["calories"]%>" required>

  <label for="ingredients">
    Ingredients:
  </label>
  <textarea name="ingredients" id="ingredients" cols="30" rows="10" placeholder="List, your, ingredients, here" required></textarea>

  <label for="recipe">
    Recipe:
  </label>
  <textarea name="recipe" id="recipe" cols="30" rows="10" placeholder="1. Write you recipe instructions here.
2. In numbered list formatting." required></textarea>

  <label for="image_url">
    Image URL:
  </label>
  <input name="image_url" value="<%= recipes["image_url"]%>" required>

  <span class="buttons">
    <input type="submit" value="Add Recipe" />
    <a href="/" class="cancel_bttn" role="button">Cancel</a>
  </span>
</form>
