<header class="create">
    <nav class="create_list">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/recipe/create">Add Recipe</a></li>
        </ul>
    </nav>
</header>

<section class = "all_dinners"> 
    <% dinners.each do |meal| %>
    <section class = "dinner-item">
        <section class = "dinner_name">
            <h3 class="dinner_text"><%= meal["meal_item"]%></h3>
        </section>
        <a href="/recipe/<%= meal["id"] %>"><img src="<%= meal['image_url']%>" alt=""></a>
    </section>
    <% end %>
</section>
