<header class="create"><a href="/recipe/create">Add Recipe</a></header>

<section class = "all-recipes"> 
    <% recipes.each do |meal| %>
    <section class = "meal-item">
        <section class = "name">
            <h3 class="text"><%= meal["meal_item"]%></h3>
        </section>
        <a href="/recipe/<%= meal["id"] %>"><img src="<%= meal['image_url']%>" alt=""></a>
    </section>
    <% end %>
</section>
