<header class="create">
    <nav class="create_list">
        <% if is_logged_in? %>
            <ul>
                <li><a href="/recipe/create" class="nav_text">Add Recipe</a></li>
            </ul>
            <form action="/sessions" method="POST" >
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="nav_text" value="Logout"/>
            </form>
        <% else %>
            <a href="/user" class="nav_text">Sign-Up</a>
            <a href="/login" class="nav_text">Login</a>
        <% end %>
    </nav>
</header>

<section class = "all-recipes"> 
    <% recipes.each do |meal| %>
    <section class = "meal-item">
        <section class = "name">
            <h3 class="text"><%= meal['meal_item']%></h3>
        </section>
        <a href="/recipe/<%= meal['id'] %>"><img src="<%= meal['image_url']%>" alt=""></a>
    </section>
    <% end %>
</section>
